---
layout: layouts/home.njk
permalink: /index.html
activeNav: home
updated: 30 March 2026
---

<table class="data-table home-table">
  <colgroup>
    <col style="width:4%">
    <col style="width:20%">
    <col style="width:24%">
    <col style="width:52%">
  </colgroup>
  <thead>
    <tr>
      <th>Gen.</th>
      <th>Name &amp; Dates</th>
      <th>Geography</th>
      <th>Summary</th>
    </tr>
  </thead>
  <tbody>
    {% for item in ancestors %}
      {% if item.type == "era" %}
        <tr class="era-row {{ item.cssClass }}">
          <td colspan="4">{{ item.label }}</td>
        </tr>
      {% elif item.type == "ancestor" %}
        <tr class="ancestor-row">
          <td class="gen-cell">{{ item.gen }}</td>
          <td class="name-cell">
            <span class="name">{{ item.name }}</span>
            {% if item.dates %}<span class="dates">{{ item.dates }}</span>{% endif %}
          </td>
          <td class="geo-cell">{{ item.geography }}</td>
          <td class="summary-cell">
            {{ item.summary }}{% if item.buttons.length %}<span class="inline-btns">{% for btn in item.buttons %}<a href="{{ btn.url }}" class="btn-{{ btn.style }}">{{ btn.label }}</a>{% endfor %}</span>{% endif %}
          </td>
        </tr>
      {% endif %}
    {% endfor %}
  </tbody>
</table>
