<footer class="site-footer">
  &copy; <a href="https://forms.office.com/Pages/ResponsePage.aspx?id=DQSIkWdsW0yxEjajBLZtrQAAAAAAAAAAAANAAdNpQL5UQVNMT1AzQjZQUEJQRlZJVUc0NFgzWkg1QS4u" target="_blank" rel="noopener">Allen Gurney</a> 2026
</footer>
