/*
 * Le porte-documents
 */

.porte-document-doc-group {
    list-style-type: none;
    /* border: 1px solid;
    border-radius: 5px; */
    margin-bottom: 0.5em;
    
    width: 80vw;
}

#porte-document-contenu li{
    border: 1px solid;
    border-radius: 5px;
    padding: 0.5em;
}

#porte-document-contenu li button {
    margin: 10px;
}

section.porte-documents {
    margin-top: 5.1em;
    padding: 1em;
    margin-bottom: 3em;
}

.sortable-ghost {
    opacity: 1;
    background: var(--ead-selected-bg-color);
}

.sortable-drag {
    opacity: 0;
}