/* Indexation dans la source */

#main_max_container a {
	cursor:pointer;
}

#main_max_container a.lieux {
	color:#0f6c41;
}
#main_max_container a.lieu {
	color:#0f6c41;
}
#main_max_container a.personne {
	color:#23527c;
}
#main_max_container a.saints {
	color:#23527c;
}
#main_max_container a.liturgie {
	color:#9c2c00;
	font-style:italic;
}
#main_max_container a.oeuvre {
	color:#9c2c00;
	font-style:italic;
}
#main_max_container a.titre {
	color:#9c2c00;
	font-style:italic;
}
#main_max_container .fenetreModale-bodySection a {
	pointer-events: none;
	color:inherit;
}

/* Affichage de la fenêtre modale */

.modal-dialog {
	top: 50px;
}
.fenetreModale {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1001; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	counter-reset: section;
  }
.fenetreModale-header {
	float: right;
	padding: 5px;
	height: 30px;;
}
.fenetreModale-content {
    background-color: #fefefe;
    margin: 10% auto; /* 15% from the top and centered */
    padding: 10px 20px 30px 20px;
    border: 1px solid #888;
		border-radius: 10px;
	width: 600px; /* Could be more or less, depending on screen size */
	min-height: 550px;
  }
.fenetreModale #citation {
	display: none;
}
.close {
    color:rgb(51, 51, 51);
    float: right;
    font-size: 12px;
	font-weight: bold;
	background-color: #ccc;
	border-radius: 4px;
	font-family: ubuntu-server;
	padding:5px;
	}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
	cursor: pointer;
  }

/* Métadonnées de création */

.Divautorite {
	font-size:80%;
	line-height: 100%;
	text-align: center;
	padding: 6px 0px 6px 0px;
	border-bottom: 1px solid #ddd;
	margin-bottom:15px;
}
.createurs {
	margin-top: 2px;
}

.Divanthroponymie {
	line-height: 100%;
}

.Divanthroponymie p:first-child {
	font-size: 110%;;
}

.Divtoponymie p:first-child {
	font-size: 110%;;
}

.forme_nominale {
	margin-left: 20px;
	display: block;
}

.la {
	font-style: italic;
}
span.fro {
	font-variant: small-caps;
}
.Divnote {
	margin-top: 10px;
}
.bas_de_page {
	font-size:90%;
}
.appel_note {
	border-color: #823a19;
	/* font-family: ubuntu-server; */
	padding: 0px;
	margin-left: 0px;
	margin-right: 0px;
	cursor: pointer;
	vertical-align: super;
	font-size: 66%;
	font-style:normal;
}

.intitule {
	/* font-family: ubuntu-server; */
	font-size: 13px;
	color: gray;
	text-align:left;
}

.t1 {
	/* font-family: ubuntu-server; */
	font-size: 100%;
	font-weight: bold;
	color:black;
	margin: 15px 0 7px 0;
}

p.relation, p.occupation, p.attestation, p.naissance, p.mort{
	line-height: 1.5;
	margin: 8px;
}

/* affichage des notes */

.appel_notePopup {
	font-style: italic;
	font-size:90%;
	color: #555;
	font-weight: initial;
}

.appel_notePopup::before {
	counter-increment: section;
	content:" [note " counter(section) " : " ;
}
.appel_notePopup::after {
	content:"] ";
}

#thesauriPDN .bas_de_pageModal {
	display: none;
}

#thesauriPDN a.lieux {
	/* color:inherit; */
	color: #0f6c41;
	/* cursor: default;
	pointer-events: none; */
	text-decoration: none;
}


/*les notices personnes */
.person {
	background-color:white;
	line-height :1.4;
}
.person p.forme_nominale_ppal {
	font-weight: bold;
	color: #1a689f;
	font-size: 100%;
	padding-bottom: 6px;
	margin: 4px;
}

p#sex{
	margin: 3px;
}

.person a.personne{
	color: #1a689f;
}

.person p.forme_nominale_ppal span.langue_ppal {
	color:#555;
	font-weight: normal;
}

/*les notices lieux */

iframe {
	border: none;
	width: 150%;
	height :110%;
}
.place {
	background-color:white;
	line-height :1.4;
}

.sous-lieux li{
	width: 90%;
}

.place .forme_nominale_ppal {
	font-weight: bold;
	color: #0f6c41;
	font-size: 100%;
}

.Divlocalisation {
	margin-top:8px;
}

div.geoloc, div#map{
	width: 65%;
}

.sousEntree {
	margin-top:15px;
	/* margin-left:20px; */
}
.sousEntree > p {
	margin-bottom:3px;
}
.sous-lieux > p.forme_nominale_ppal {
	margin-bottom:0px;
}

ul.sous-lieux{
	margin-bottom:0px;
}

p.trait{
	margin-left: 2em;
}

div.DivLieux2{
	margin-top:1em;
}

/*Les notices œuvres*/

.work {
	background-color:white;
	line-height :1.4;
}

div.work > div > div {
	border-left: 1px dotted;
	padding-left: 20px;
	padding-right: 15px;
}
.work .forme_nominale_ppal {
	font-weight: bold;
	color: gray;
	font-size: 100%;
}

/*Les notices saints*/

.event li {
	font-size: 80%;
}

.cit li {
	font-size: 80%;
}

p.occupation {
	margin: 5px 0 5px 0;
	margin-left:20px;
}

span.role{
	font-weight: bold;
}

p.t3{
	font-size: 12px;
	margin-left: 1em;
}

ul.event{
	margin-bottom: 8px;
	padding-left: 1rem;
}

p.t2.intitule{
	margin-top: 0.8em;
	margin-bottom: 0.5em;
	font-size: 14px;
	color: #666;
}

/* p.t2{
	font-family: ubuntu-server;
} */

h1.intitule{
	margin : 10px 0px 10px 0px;
}

/*

Affichage des fiches
p.naissance {
	margin-bottom:3px;
}
p.autorite {
	margin-bottom:3px;
}
p.relation {
	margin-top:4px;
	margin-left:20px;
}
p.commentaire {
	margin-top:4px;
	margin-left:20px;
}
p.location {
	margin-bottom:3px;
}
p.note_bas_de_page {
	margin-bottom:3px;
}
p.trait {
	margin-bottom:3px;
}

LES AUTORITÉS
.auteur {
	color:#1a689f;
	font-weight:bold;
}
.auteur:after {
	content:"*";
	color:#1a689f;
	font-weight:bold;
}
.temoin {
	color:#1a689f;
}
.temoin:after {
	content:"+";
	color:#1a689f;

}
.donateur {
	color:#1a689f;
	font-style:italic;
}
 */

 #thesauriPDN .citation_bloc{
	display: none;
 }

 #thesauriPDN .infobulle {
	position: relative;
}
#thesauriPDN .togglerInfobulle {
	background-color: inherit;
	border: none;
	cursor: pointer;
	color: black;
	font-size: 100%;
	font-variant-position: super;
	white-space: nowrap;
	padding-left: 1px;
	padding-right: 0px;
	font-family: inherit;
		margin-top:-1em;
}
#thesauriPDN .togglerInfobulle > sup {
	font-size: 100%;
	vertical-align: baseline;
	top: 0;
}
#thesauriPDN .conteneurInfobulle {
	background-color: #fff;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	bottom: 20px;
	display: none;
	font-size: 0.8rem;
	left: 25%;
	padding: 0.6em;
	position: absolute;
	width:200px;
	z-index: 1060;
	text-align: left;
}
#thesauriPDN .infobulle:focus-within .conteneurInfobulle {
	display: block;
}

.col-10{
	width: 98%;
}